.App {
  text-align: center;
  background-color: #f5f6f9;
}
#cursorImg-0 {
  /* display: none; */
  /* width: 1px !important; */
}
#audio {
  position: fixed;
  top: 40px;
  right: 0;
}
#audio1{
  position: fixed;
  top: 70px;
  right: 0;
}
.div {
  position: fixed;
  top: 0;
  left: 0;
}
.omsd {
  margin-bottom: 80px;
}