.App {
  text-align: center;
  background-color: #f5f6f9;
}
/* #cursorImg-0 {
  width: 10px;
} */
#audio {
  position: fixed;
  top: 40px;
  right: 0;
}
.div {
  position: fixed;
  top: 0;
  left: 0;
}
.omsd {
  margin-top: 80px;
}